<html lan = "en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="Todays Reports content">
            <h2>Reports</h2>
            <h3>Yesterday's Reports and status:</h3>
            <% if (blogs.length > 0) { %>
                <% blogs.forEach(blog => { %>

                    <h3 class="title"><%= blog.title%></h3>
                    <p class="snippet"><%= blog.snippet%></p>

                <% }) %>
                <% } else { %>
                    <p>NO REPORTS TO FETCH...</p>

                <% } %>

        </div>
        <%- include('./partials/footer.ejs') %>
</body>
</html>